<% mfrArray = [] %>
<% dir_listing.each do |object|; object = object["text"]; mfrArray.push(object); end; mfrArray.sort!%>

<% if params["manufacturer"] == nil  %>

<% first =  mfrArray.first ; manufacturer = first + "/#{params['folder']}"; @subtitle="/<span id=\"small\">images/  #{manufacturer} </span>"; params["manufacturer"] = first %>
<% else %>
<% manufacturer = params["manufacturer"] + "/#{params['folder']}"; @subtitle="/<span id=\"small\">images/  #{manufacturer} </span>"%>
<% end %>

<div class="manufacturers">
  <% mfrArray.each do |mfr| %>
    <% if mfr == "All" && params["manufacturer"] == nil %>
    <div class="manufacturer tab-selected" id="<%= mfr %>" onclick="window.location = '?manufacturer=<%= mfr %>'" style="cursor: pointer;">
        <% elsif params["manufacturer"] != nil && mfr ==  params["manufacturer"] %>
        <div class="manufacturer tab-selected" id="<%= mfr %>" onclick="window.location = '?manufacturer=<%= mfr %>'" style="cursor: pointer;">
        <% else %>
            <div class="manufacturer" id="<%= mfr %>" onclick="window.location = '?manufacturer=<%= mfr %>'" style="cursor: pointer;">
                <% end %>
                <h2 class="tab-title"><%= mfr %></h2>
            </div>
            <% end %>
        </div>
    </div>
</div>

<div class="subcards">

<% if params["folder"];  folder="#{params["folder"]}/"; else; folder = ""; end; imagesList = findImagesFor(params["manufacturer"], folder , dir_listing) %>
    <% if Dir[ENV['IMAGES_DIR']  + "/" + params["manufacturer"] + "/#{params["folder"]}" + '/sda-pt.sf'].empty? && imagesList  %>
    <% #imagesList.each do |key, value| %>
    <% dirs = [] %>
    <% imagesList.each do |dir| %>
      <% dirs.push(dir["text"]) %>
    <% end %>
    <% dirs.sort! %>
    <% dirs.each do |dir| %>
    <% if !File.exist?(ENV['IMAGES_DIR'] + "/" + params["manufacturer"] + "/#{params["folder"]}/" + size.to_s + '/sda-pt.sf') %>
    <% puts ENV['IMAGES_DIR'] + "/" + params["manufacturer"] + "/#{params["folder"]}/" + size.to_s + '/sda-pt.sf' %>
    <% puts "not image" %>
    <div class="card image" onClick="window.location =' ?manufacturer=<%= params[:manufacturer]%>&folder=<%="#{folder}#{dir}"%>'" style="cursor: pointer;">
    <% if params["folder"]; params["folder"] = params["folder"] + dir; else; params["folder"] =  dir; end %>
        <i class="fa fa-folder-open fa-4x"></i>
        <h2 class="image-model"><%= dir %></h2>
    </div>
    <% else %>
<% redirect "/clone?image=#{params["manufacturer"]}/#{params["folder"]}/#{size.to_s}" %>
      <%end %>
        <%end %>
    <%end %>
</div>
