<%@subtitle='/<span id="small">orders</span>'%>
<div class="select"><table class="select">
  <tr class="header">
    <th>SKU</th>
    <th>Description</th>
    <th>HDD</th>
    <th>RAM</th>
  </tr>
    <% orderData.keys.each do |key| %>
    <tr onclick="window.location='/parseImage?sku=<%=key%>'">
      <td><%= key %></td>
      <td><%= orderData[key]['description'] %></td>
      <td><%= orderData[key]['spec']['hdd'] %>GB</td>
      <td><%= orderData[key]['spec']['ram'] %>GB</td>
    </tr>
    <%end%>
</table></div>
