<%@subtitle='/<span id="small">diagnostics</span>'%>
<% memGood = false %>
<% hddGood = false %>
<div class="main-specs">
      <script type="text/javascript">
      setTimeout(function () {
        location.reload();
      }, 12 * 1000);
      </script>
    <h1 class="fa fa-desktop"></h1>
    <h1>System Information:</h1>
    <div class="inner-specs">
        <div class="left-specs">
            <p class="brand">Manufacturer:
                <%= sysInfo[:mfr] %></p>
            <p class="model">Model:
                <%= sysInfo[:model] %></p>
            <p class="serial">Serial:
                <%= sysInfo[:serial]%></p>
            <p class="model">CPU:
                <%= sysInfo[:proc]%></p>
        </div>
        <div class="right-specs"></div>
    </div>
</div>
<div class="subcards">
    <div class="harddrive card">
        <i class="fa fa-hdd-o fa-5x fa-left"></i>
        <div class="specs">
            <h1>Hard Drive</h1>
            <h2 class="size">Size: <%=humanReadableSize%>GB</h2>
        </div>
        <% if hddStatus.include? "FAIL" %>
        <i class="fa fa-times fa-3x failure fa-right"></i>
        <% hddGood = false %>
        <% elsif hddStatus.include? "PASS" %>
        <i class="fa fa-check fa-3x success fa-right"></i>
        <% hddGood = true %>
    <% else %>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-right"></i>
        <% end %>
    </div>
    <div class="memory card">
        <i class="fa fa-microchip fa-5x fa-left"></i>
        <div class="specs">
            <h1>Memory</h1>
            <h2 class="size">Total RAM:
                <%= totalRam %>GB</h2>
        </div>
        <% if memoryStatus.include? "FAIL" %>
        <% memGood = false %>
        <i class="fa fa-times fa-3x failure fa-right"></i>
        <% elsif memoryStatus.include? "PASS" %>
        <% memGood = true %>
        <i class="fa fa-check fa-3x success fa-right"></i>
    <% else %>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-right"></i>
        <% end %>
    </div>

</div>
<% if memGood == true && hddGood == true%>
<div class="next-step">
    <a href="/clone" class="fa fa-arrow-right fa-4x success next"></a>
</div>
<% else %>
<div class="next-step">
    <a disabled="disabled" class="fa fa-arrow-right fa-4x success next" id="disabled"></a>
</div>
<% end %>
