<%@subtitle='/<span id="small">diagnostics</span>'%>
<% memGood = false %>
<% hddGood = false %>
<% memMatch = true %>
<% hddMatch = true %>
<div class="main-specs">
    <h1 class="fa fa-desktop"></h1>
    <h1>System Information:</h1>
    <div class="inner-specs">
        <div class="left-specs">
            <p class="brand">Manufacturer:
                <%= sysInfo[:mfr] %></p>
            <p class="model">Model:
                <%= sysInfo[:model] %></p>
            <p class="serial">Serial:
                <%= sysInfo[:serial]%></p>
            <p class="model">CPU:
                <%= sysInfo[:proc]%></p>

            <% unless orderTable == {} %></br></br><p class="verification"><%= orderTable['desc']%></p>
                  <% if  modelMatch.passfail == "FAIL"; modelIcon = "fa-times"; else; modelIcon = "fa-check"; end; %>
                <% if  procMatch.passfail == "FAIL"; procIcon = "fa-times"; else; procIcon = "fa-check"; end; %>
                <div class="ordertable">
                  <div class="orderstatus">
                    <p class="fa passfail <%= modelIcon %> <%= modelMatch.passfail %>"></p>
            <p class="verification">Model: <%= orderTable['model'].join(' ') %></p>
          </div>
            <div class="orderstatus">
            <p class="verification">OS: <%= orderTable['os'] %></p>
                </div>
              <div class="orderstatus">
                <p class="fa passfail <%= procIcon %> <%= procMatch.passfail %>"></p>
                            <p class="verification">Proc: <%= orderTable['proc'] %></p>
                    </div>

          </div>
            <a href="/smug" accesskey="r"></a>
              <%else%>
              <% if didSearch == false%>
              <div class="order-button">
                <form method="POST" action="/ordersubmit">
              <input id="search" type="text" name="orderno" placeholder="Order Number">
              <button type="submit" class="btn btn-success" onclick="document.getElementById('searchbutton').className = 'fa fa-circle-o-notch fa-spin fa-3x';">
  <i   id="searchbutton" class="fa fa-search"></i>
</button>
              </form>
            </div>
              <% end %>
                <% end %>
        </div>
        <div class="right-specs"></div>
    </div>
</div>
<div class="subcards">
    <div class="harddrive card">
        <i class="fa fa-hdd-o fa-5x fa-left"></i>
        <div class="specs">
            <h1>Hard Drive</h1>
            <h2 class="size">Size: <%=humanReadableSize%>GB</h2>
            <% unless orderTable == {} %>
              <% hddMatch= (humanReadableSize.to_i == orderTable['hdd'].to_i) %>
              <h2 class="<%= hddMatch.passfail%>">Required: <%= orderTable['hdd'] %>GB</h2>
            <% end %>
        </div>
        <% if hddStatus.include? "FAIL" %>
        <i id="hddTest" class="fa fa-times fa-3x failure fa-right"></i>
        <% hddGood = false %>
        <% elsif hddStatus.include? "PASS" %>
        <i id="hddTest" class="fa fa-check fa-3x success fa-right"></i>
        <% hddGood = true %>
    <% else %>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-right"></i>
        <% end %>
    </div>
    <div class="memory card">
        <i class="fa fa-microchip fa-5x fa-left"></i>
        <div class="specs">
            <h1>Memory</h1>
            <h2 class="size">Total RAM:
                <%= totalRam %>GB</h2>
                <% unless orderTable == {} %>
                <% memMatch = (totalRam.to_i == orderTable['ram'])%>
                <h2 class="<%= memMatch.passfail%>">Required: <%= orderTable['ram']%>GB</h2><% end %>
        </div>
        <% if memoryStatus.include? "FAIL" %>
        <% memGood = false %>
        <i id="memTest" class="fa fa-times fa-3x failure fa-right"></i>
        <% elsif memoryStatus.include? "PASS" %>
        <% memGood = true %>
        <i id="memTest" class="fa fa-check fa-3x success fa-right"></i>
    <% else %>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-right"></i>
        <% end %>
    </div>

</div>
<% if orderTable == {} %>
  <% pass = memGood && hddGood %>
<% else %>
  <% pass = memGood && hddGood && memMatch && hddMatch && procMatch && modelMatch %>
<% end %>
<% if pass %>
<div class="next-step">
    <a href="/clone" class="fa fa-arrow-right fa-4x success next"></a>
</div>
<% else %>
<div class="next-step">
    <a disabled="disabled" class="fa fa-arrow-right fa-4x success next" id="disabled"></a>
</div>
<% end %>
<script type="text/javascript">

  var search = document.getElementById("search");
    setTimeout(function () {
  if (document.getElementById("memTest") &&  document.getElementById("hddTest")){
    console.log("should not reload");
  }else{
    if (search !== null && search.value === "" && search.value === " "){
        reload();
    }else{
      console.log("we shall not reload");
    }
  }
}, 12 * 1000);

function reload(){
  location.reload();
}

</script>
