<%@subtitle='Diagnostics'%>
<script src="javascript/test.js" type="text/javascript"></script>
<% memGood = false %>
<% hddGood = false %>
<% memMatch = true %>
<% hddMatch = true %>
<% if orderTable == {}%>
<% @orderNumber = orderTable["model"]%>
    <div class="search card">
        <img src="/images/order.svg">
        <div class="specs">
            <h1>Order Search:</h1>
            <div class="order-button">
            <form method="POST" action="/ordersubmit">
                <input id="search" type="text" name="orderno" placeholder="Order Number">
                <button type="submit" class="btn btn-success" onclick="document.getElementById('searchButton').className = 'load fa-spin small';">
          <div id="searchButton" class="search-button small"></div>
</button>
</div>
            </form>
        </div>
    </div>

<% else %>
  <div class="search card">
        <img src="/images/order.svg">
        <div class="specs">
            <h1>Order Requirement:</h1>
            <p class="verification"><b>Order Number</b>: <%= ordernumber %></p>
            <p class="verification"><%= orderTable['desc']%></p>
                  <% if modelMatch.passfail == "FAIL"; modelIcon = "failure"; else; modelIcon = "success"; end; %>
                <% if procMatch.passfail == "FAIL"; procIcon = "failure"; else; procIcon = "success"; end; %>
                <div class="ordertable">
                  <div class="orderstatus">
                    <a href="/clearModel" class="passfail <%= modelIcon %> <%= modelMatch.passfail %>"></a>

            <p>Model: <%= @orderNumber %></p>
          </div>
            <div class="orderstatus">
            <a class="passfail windows"></a>
            <p>OS: <%= orderTable['os'] %></p>
                </div>
              <div class="orderstatus">
                <p class="fa passfail <%= procIcon %> <%= procMatch.passfail %>"></p>
                            <p>Proc: <%= orderTable['proc'] %></p>
                    </div>
        </div>
    </div>
    </div>
<% end %>
<div class="main-specs card">
<img src="/images/machine.svg">
    <div class="specs">
      <h1>Specifications:</h1>
            <p class="brand">Manufacturer:
                <%= sysInfo[:mfr] %></p>
            <p class="model">Model:
                <%= sysInfo[:model] %></p>
            <p class="serial">Serial:
                <%= sysInfo[:serial]%></p>
            <p class="model">CPU:
                <%= sysInfo[:proc]%></p>
          </div>
            <a href="/smug" accesskey="r"></a>
        </div>
    <div class="harddrive card">
        <img src="/images/storage.svg">
        <div class="specs">
            <h1>Hard Drive</h1>
            <h2 class="size">Size: <%=humanReadableSize%>GB</h2>
            <% unless orderTable == {} %>
              <% hddMatch= (humanReadableSize.to_i == orderTable['hdd'].to_i) %>
              <h2 class="<%= hddMatch.passfail%>">Required: <%= orderTable['hdd'] %>GB</h2>
            <% end %>
        </div>
        <% if hddStatus.include? "FAIL" %>
         <div id="hddTest" class="failure"></div>
        <% hddGood = false %>
        <% elsif hddStatus.include? "PASS" %>
        <div id="hddTest" class="success"></div>
        <% hddGood = true %>
    <% else %>
        <div id="hddTest" class="load fa-spin"></div>
        <% end %>
    </div>
    <div class="memory card">
        <img src="/images/memory.svg">
        <div class="specs">
            <h1>Memory</h1>
            <h2 class="size">Total RAM:
                <%= totalRam %>GB</h2>
                <% unless orderTable == {} %>
                <% memMatch = (totalRam.to_i == orderTable['ram'])%>
                <h2 class="<%= memMatch.passfail%>">Required: <%= orderTable['ram']%>GB</h2><% end %>
        </div>
        <% if memoryStatus.include? "FAIL" %>
        <% memGood = false %>
        <div id="memTest" class="failure"></div>
        <% elsif memoryStatus.include? "PASS" %>
        <% memGood = true %>
        <div id="memTest" class="success"></div>
    <% else %>
        <div id="memTest" class="load fa-spin"></div>
        <% end %>
    </div>

<% if orderTable == {} %>
  <% pass = memGood && hddGood %>
<% else %>
  <% pass = memGood && hddGood && memMatch && hddMatch && procMatch && modelMatch %>
<% end %>
<% if pass %>
<% @otherHTML = '<div class="next-step">
    <a href="/clone" class="next"></a>
</div>' %>
<% else %>
<% @otherHTML = '<div class="next-step">
    <a id="proceed" disabled="disabled" class="disabled next"></a>
</div>' %>
<% end %>
